vendor/composer/* linguist-vendored
vendor/graham-campbell/* linguist-vendored
vendor/phpoption/* linguist-vendored
vendor/slim/* linguist-vendored
vendor/symfony/* linguist-vendored
vendor/vlucas/* linguist-vendored
vendor/fig/* linguist-vendored
vendor/nikic/* linguist-vendored
vendor/psr/* linguist-vendored
vendor/ralouphie/* linguist-vendored


*.php linguist-detectable=true